# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
MvcWebRole1
Mapstache.Azure
_ReSharper.Mapstache
Mapstache.ncrunchsolution.user
Mapstache.ncrunchsolution