@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    The goal of Mapstache.Net is to present spatial data held in SQL Server in OpenLayers. 
</p>
<p>
</p>
<h2>Road Map</h2>
<ul>
    <li>Caching.</li>
    <li>Upgrade to SQL Server 2012 client libary to get around single hemisphere problem.</li>
    <li>Better data access layer.</li>
    <li>Example point layer for WMS and WMTS layers.</li>
    <li>DSL to specifiy styling for polygon/ point/ line layers.</li>
    <li>Simplistic labelling.</li>
    <li>More projections.</li>
    <li>Postgres database support.</li>
    <li>MongoDB support for point layers???</li>
    <li>Make all calls to database async.</li>
</ul>
