@{
    ViewBag.Title = "Index";
}
<style>
    .smallmap
    {
        width: 700px;
        height: 500px;
        border: 1px solid #ccc;
    }
    .smallmap img
    {
        max-width: none;
    }
</style>
<h1>Zips</h1>
<div id="map" class="smallmap">
</div>
<div id="attrs">
    hello</div>
<script src="/Scripts/OpenLayers.js"></script>
<script src="/Examples/ZipsDemo.js"></script>