@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="/theme/default/style.css" type="text/css">
<style>
    .smallmap
    {
        width: 900px;
        height: 700px;
        border: 1px solid #ccc;
    }
    .smallmap img
    {
        max-width: none;
    }
</style>
<div id="map" class="smallmap">
</div>
  <div id="attrs">hello</div>
<script src="/lib/OpenLayers.js"></script>
<script src="/Examples/utfgrid.js"></script>
